{% extends "base.html" %}
{% block title %}uibasic/mainview{% endblock %}
{% block content %}
{% include "./dataforms_includes.html" with key="value" %}
{% load static %}
<h1>uibasic/mainview</h1>
<h6>Single-Click on any field to edit in place.  Double-click on any row to edit.  Ctrl+Click on * column to select multiple rows.</h6>

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>*</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th width="18%">Start date</th>
                <th>Salary</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
<script>
$(document).ready(function() {
    editor = new $.fn.dataTable.Editor( {
        ajax: "/ui/mainview/",
        table: "#example",
        fields: [ {
                label: "First name:",
                name: "first_name"
            }, {
                label: "Last name:",
                name: "last_name"
            }, {
                label: "Position:",
                name: "position"
            }, {
                label: "Office:",
                name: "office"
            }, {
                label: "Extension:",
                name: "extn"
            }, {
                label: "Start date:",
                name: "start_date",
                type: "datetime"
            }, {
                label: "Salary:",
                name: "salary"
            }
        ]
    } );
 
    // Activate an inline edit on click of a table cell
    $('#example').on( 'click', 'tbody td.row-edit', function (e) {
        editor.inline( table.cells(this.parentNode, '*').nodes(), {
            submitTrigger: this,
            submitHtml: '<i class="fa fa-play"/>'
        } );
    } );





    $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.inline( this );
    } );

 
    // Delete row
    $('#example').on( 'click', 'tbody td.row-remove', function (e) {
        editor.remove( this.parentNode, {
            title: 'Delete record',
            message: 'Are you sure you wish to delete this record?',
            buttons: 'Delete'
        } );
    } );
 
    var table = $('#example').DataTable( {
        dom: "Bfrtip",
        ajax: "/ui/dataone/",
        order: [[ 1, 'asc' ]],
        columns: [

            {
                data: null,
                defaultContent: '',
                //className: 'select-checkbox',
                orderable: false
            },

            { data: "first_name" },
            { data: "last_name" },
            { data: "position" },
            { data: "office" },
            { data: "start_date" },
            { data: "salary", render: $.fn.dataTable.render.number( ',', '.', 0, '$' ) },
            {
                data: null,
                defaultContent: '<i class="fa fa-pencil"/>',
                className: 'row-edit dt-center',
                orderable: false
            },
            {
                data: null,
                defaultContent: '<i class="fa fa-trash"/>',
                className: 'row-remove dt-center',
                orderable: false
            },
            {
                data: null,
                defaultContent: '<i class="fa fa-eye"/>',
                className: 'row-remove dt-center',
                orderable: false
            },
        ],
        select: {
            style:    'os',
            selector: 'td:first-child'
        },
        buttons: [
            { extend: "create", editor: editor },
            { extend: "edit",   editor: editor },
            { extend: "remove", editor: editor }
        ]
    } );

    $('#example tbody').on( 'dblclick', 'tr', function () {
        console.log("Grugh");
        editor.edit( this );
    } );

} );


</script>





{% endblock %}
{% block section %}{% endblock %}
